* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 19px;
}

.pass {
    display: flex;
    color: white;
    position: relative;
    padding: 30px 0;
    min-height: 100vh;
}

.pass__form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.pass__form_elem {
    display: block;
    width: 100%;
    outline: none;
    margin: 20px auto;
    border: none;
    outline: none;
    border: 2px solid #ffd;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    background: none;
    color: #ffd;
}

.active {
    background-color: rgb(182, 165, 11);
}

.pass__form_elem::placeholder {
    opacity: 1;
    transition: 0.6s all;
    color: #ffd;
    text-align: left;
    background-color: none;
}

.pass__form_elem:focus::placeholder {
    opacity: .1;
    transform: scale(.1);
}

.pass__form_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
    filter: blur(2px);
    z-index: -1;
}

.error {
    color: #e44048;
    text-transform: uppercase;
}

a.pass__form_elem {
    text-align: center;
}


/* медиа -запросы --------------------- */

@media ( min-width: 991.99px) and ( max-width: 1399.98px) {
    * {
        font-size: 18px;
    }
    .pass__form {
        width: 45%;
    }
}

@media ( min-width: 768px) and ( max-width: 991.99px) {
    * {
        font-size: 17px;
    }
    .pass__form {
        width: 55%;
    }
}

@media ( min-width: 576px) and ( max-width: 767.99px) {
    * {
        font-size: 16px;
    }
    .pass__form {
        width: 65%;
    }
}

@media ( max-width: 576px) {
    * {
        font-size: 15px;
    }
    .pass__form {
        width: 85%;
    }
    .error {
        text-align: center;
    }
}