@font-face 
    font-family: 'icomoon'
    src: url('../fonticon/icomoon.ttf?yonw98') format('truetype'), url('../fonticon/icomoon.svg?yonw98#icomoon') format('svg')
    font-weight: normal
    font-style: normal
    font-display: block


[class^="icon-"], [class*=" icon-"]  
    font-family: 'icomoon' !important
    speak: never
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1 
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


.icon-file-text:before 
    content: "\e922"    

.icon-calendar:before 
    content: "\e953"   

.icon-mobile:before 
    content: "\e958"    

.icon-bubble2:before 
    content: "\e96e"
    
.icon-user-tie:before 
    content: "\e976"     

.icon-star-empty:before 
    content: "\e9d7" 		    

.icon-circle-right:before 
    content: "\ea42"

         
// собственные стили в .content__posts -------
.icon-user-tie:before, .icon-mobile:before, .icon-calendar:before, .icon-file-text:before, .icon-bubble2:before, .icon-star-empty:before, .icon-paragraph-justify:before     
    font-size: 20px
    color: #ff9
    position: relative
    top: 5%
    margin-right: 5px

.icon-star-empty:before
    margin: 0px       


// собственные стили в .label ---------
.label 
    .icon-calendar:before 
        font-size: 22px
        color: rgba(0,0,0, .88)
        display: inline-block
        position: relative
        top: 5%             

.icon-filter:before 
    content: "\ea5b"
    font-size: 20px
    color: $base-color
    display: inline-block
    margin-right: 5px
    font-weight: 300

.icon-circle-right   
    &:before
        font-size: 23.2px
        color: $base-color        
        display: block
        transform: rotateZ(90deg)
        transition: 0.4s all
    // &:hover:before
    //     color: green

.icon-star-empty:before 
    font-size: 26px
    color: $base-color
    margin: 0 4px         


// собственные стили в .wrapper ---------
.icon-paragraph-justify:before 
    content: "\ea7a"
    font-size: 26px
    position: absolute
    top: 0.5%
    left: 2%
    color: $base-color
    display: none

    
// медиа-запрос -------------------
@media ( min-width: 768px) and ( max-width: 991.99px)   
    .icon-circle-right   
        &:before
            font-size: 22px
    .icon-filter:before
        font-size: 19px
        margin-right: 5px

@media ( min-width: 576px) and ( max-width: 767.99px)
    .icon-filter:before
        font-size: 18px
        margin-right: 5px                 


@media ( max-width: 575.99px)                     
    .icon-user-tie:before, .icon-bubble2:before, .icon-mobile:before, .icon-calendar:before, .icon-file-text:before, .icon-star-empty:before 
        font-size: 17px
    .icon-filter:before
        font-size: 17px
        margin-right: 5px               

    
            

