label
    width: 100%    
    color: $base-color
    font-weight: $fw
    height: auto
    display: flex
    align-items: center
    justify-content: center
hr
    width: 75%     
    background: $base-color    
    border: none
    height: 1px
    margin: 0px 5px 

.label
    display: flex
    padding: 20px 0 
    flex-direction: column
    align-items: center 
    background-color: $bg-label		
    grid-area: label
    border: 2px solid #ffb
    justify-content: flex-start        
    &__app
        font-size: 1em
        text-align: center        
        margin: 3% 0px 
        transition: 0.5s all
        color: $base-color
        width: 85%        
        background-color: $bright-color
        height: 30px
        line-height: 30px       
        border-radius: 5px
        text-decoration: none        
        font-weight: 200        
        // чтобы работалa line-height - надо padding устанавливать в 0
        &:hover
            background-color: transparent
    &__author
        font-weight: 300
        text-transform: lowercase
        font-style: italic
        color: #ffc
        text-align: center
    &__button
        @include section__btn
        margin: 15px auto       
        display: flex
        align-items: center
        justify-content: center 
        &:hover				
	        background: none        
    &__input
        @include input
        padding: 4px
        height: 35px
        width: 100%
        border: $base-color 2px solid
        margin: 12px 0px
        color: rgba(0, 0, 0, .7)
        font-weight: 500             
    &__sum   
        padding: 4px
        height: auto
        width: 85%     
        border: $base-color 2px solid
        margin: 12px auto
        color: $base-color
        border-radius: 5px
        display: none        
        text-align: center
        font-weight: 600    
    &__btn_date
        @include section__btn
        margin: 15px auto
        width: 100%
        display: flex
        &:hover				
	        background: none   
    &__name
        @include input
        padding: 0px 3px
        height: 35px
        margin: 0px       
        border: $bright-color 2px solid        
        color: rgba(0, 0, 0, 0.85)	 
        &::placeholder
	        color: $base-color
    &__accordion
        width: 96%  
        display: flex
        align-items: center
        justify-content: center
        margin: 15px auto
        color: $base-color
        transition: 0.5s all
        background: $bright-color
        height: 30px
        border-radius: 5px
        span
            margin: 0 5px    
        &:hover            
            transform: scale(1.05)        
        .icon-circle-right_active
            &:before
                transform: rotate(270deg)
                color: $bg-color                                             
        &_content
            width: 96%
            opacity: 0
            display: none
            margin: 0 auto        
            &_active
                display: block                
                opacity: 1 

    fieldset
        width: 85%
        margin: 15px 0
        border-radius: 5px
        border: $base-color 2px solid
        padding: 5px 0
        legend
            padding: 0 7px
            color: $base-color
            font-style: italic                             
        
                
.error
    color: $base-color
    text-transform: lowercase
    position: relative
    top: 4px
    font-size: 0.9rem   
    width: 100%
    display: block  
    text-align: center

                
.error-form
    color: $bright-color
    text-transform: lowercase     
    text-align: center
             


            




 

