// модальное окно сообщений
.post_mess_wrapper
	position: fixed
	width: 27%	
	margin: 21% auto
	z-index: 1
	background: transparent
	left: 0.5%
	display: none
	border-radius: 8px	
	.post_mess				
		width: 99%
		height: auto
		text-align: left
		border-radius: 8px
		border: 2.5px solid	$base-color
		padding: 12px
		color: #000
		align-self: center
		margin: auto
		background: #ffaaaa	
		&__title
			color: inherit
			text-align: center
			margin: 8px
			&::after
				content: ''
				width: 60%
				height: 1.2px
				background: $bright-color
				display: block
				margin: 4px auto			
		&__text
			color: inherit
			text-align: justify
			font-weight: 300
			word-spacing: 0.9px		
		&__exit
			position: absolute
			right: 1.5%
			top: 1%
			color: $bright-color
			transition: 0.4s all
			font-size: 32px
			&:hover
				color: $base-color	
		&__date
			color: $bright-color		
			font-size: 24px
			text-align: right
			margin: $small-margin 0px
.active
	display: flex	
	animation-name: flying
	animation-duration: 0.4s
	animation-timing-function: ease-out
	animation-fill-mode: forwards 

       	
