.content__posts
	// display: flex
	// flex-wrap: wrap
	// justify-content: flex-start
	display: grid
	grid-gap: 1.5%
	grid-template-columns: repeat(3, 1fr)
	justify-content: start
	height: 2000
	overflow: auto	
	padding: $medium-margin 10px	
	.post
		width: 97%			
		display: flex
		flex-direction: column
		align-items: flex-start
		background-color: none
		padding: 7px
		border-radius: 8px
		border: 1.5px solid	$base-color
		position: relative								
		&__span
			margin: 5px			
			text-align: left
			width: 100%			
			font-size: $post-font
			color: $bright-color
			position: relative					
			&:nth-child(1)				
				text-transform: capitalize	
			&:nth-child(6), &:nth-child(5)	
				display: flex
				justify-content: flex-start
				align-items: center
				margin: 10px 5px						
				&::after
					display: none			
			&::after
				content: ''
				display: block		
				width: 90%
				margin: 7px auto
				background: #ffe
				height: 1.5px
				border: none
			.icon-star-empty::before
				font-size: 20px
				color: #ff9
				position: relative
				top: 5%
				margin: 0px
				margin-right: 5px							
			.like
				&::before
					font-weight: 700
					color: red			
		&__mess_btn
			@include post__span_btn			
			color: $base-color
			padding: 1px
			transition: 0.4s all
			position: absolute
			left: 15%
			&:hover				
				color: $bright-color
				background: transparent
				border: none
				transform: scale(1.07)
										
		&__btn			
			@include section__btn
			margin: 5px auto
			position: absolute
			left: 15%
			width: 70%
			&:hover				
				color: red
				background: transparent

